<div id="site-cart">
  {{!-- Empty Shopping Cart --}}
  {{!-- <div class="cart-message">
    <p>Your shopping cart is empty</p>
  </div> --}}
  {{!-- Cart with products --}}
  <div class="product-container">
    {{> product }}
    {{> product }}
    {{> product }}
    {{> product }}
    {{> product }}
    {{> product }}
    {{> product }}
  </div>
  {{!-- Subtotal --}}
  <div class="subtotal">
    Subtotal: $0.00
  </div>
  {{!-- Go to cart --}}
  <div class="cart-container">
    <a href="#" class="btn btn-default btn-cart">Go to cart</a>
  </div>
</div>