<div id="site-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Arrivals</a>
        <ul class="dropdown-menu">
          <li><a href="#">Womens</a></li>
          <li><a href="#">Mens</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women</a>
        <ul class="dropdown-menu">
          <li><a href="#">Clothing</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Denim</a></li>
          <li><a href="#">Dresses</a></li>
          <li><a href="#">Coats &amp; Jackets</a></li>
          <li><a href="#">Knits</a></li>
          <li><a href="#">Pants</a></li>
          <li><a href="#">Shirts</a></li>
          <li><a href="#">Shorts</a></li>
          <li><a href="#">Skirts</a></li>
          <li><a href="#">Tops &amp; Polos</a></li>
          <li><a href="#">Liberty</a></li>
          <li><a href="#">Eva</a></li>
          <li><a href="#">Heidi</a></li>
          <li><a href="#">Gift Certificates</a></li>
          <li><a href="#">Sale</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Bags &amp; Purses</a></li>
          <li><a href="#">Belts</a></li>
          <li><a href="#">Hats</a></li>
          <li><a href="#">Scarves</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Tonal Takeover</a></li>
          <li><a href="#">Layer Down</a></li>
          <li><a href="#">Cranberry</a></li>
          <li><a href="#">Print it out</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men</a>
          <ul class="dropdown-menu">
            <li><a href="#">Clothing</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Jackets</a></li>
            <li><a href="#">Knits</a></li>
            <li><a href="#">Pants</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="#">Shorts</a></li>
            <li><a href="#">T-Shirts &amp; Polos</a></li>
            <li><a href="#">Authentic</a></li>
            <li><a href="#">Sportswear</a></li>
            <li><a href="#">Gift Certificates</a></li>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Belts</a></li>
            <li><a href="#">Hats &amp; Scarves</a></li>
            <li><a href="#">Men's Coat Guide</a></li>
            <li><a href="#">How to layer</a></li>
            <li><a href="#">The New Crew</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accessories</a>
        <ul class="dropdown-menu">
          <li><a href="#">Womens</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Bags &amp; Purses</a></li>
          <li><a href="#">Belts</a></li>
          <li><a href="#">Hats</a></li>
          <li><a href="#">Scarves</a></li>
          <li><a href="#">Shoes</a></li>
          <li><a href="#">Sale</a></li>
          <li><a href="#">Mens</a></li>
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Bags</a></li>
          <li><a href="#">Belts</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signature</a>
        <ul class="dropdown-menu">
          <li><a href="#">New Arrivals</a></li>
          <li><a href="#">Blouses &amp; Shirts</a></li>
          <li><a href="#">Dresses</a></li>
          <li><a href="#">Jackets</a></li>
          <li><a href="#">Knits</a></li>
          <li><a href="#">Pants</a></li>
          <li><a href="#">Skirts</a></li>
          <li><a href="#">Tops</a></li>
        </ul>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VIP Login</a>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
      </li>
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wishlist</a>
      </li>
    </ul>
  </div>