<nav id="site-menu" role="navigation">
  <ul class="nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">New Arrivals</a>
      <ul class="dropdown-menu">
        <li><a href="#">Womens</a></li>
        <li><a href="#">Mens</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women</a>
      <ul class="dropdown-menu">
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Dresses</a></li>
        <li><a href="#">Knits</a></li>
        <li><a href="#">Shirts</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </li>
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men</a>
      	<ul class="dropdown-menu">
	      	<li><a href="#">New Arrivals</a></li>
	        <li><a href="#">Shirts</a></li>
	        <li><a href="#">Pants</a></li>
	        <li><a href="#">Jackets</a></li>
	        <li><a href="#">Accessories</a></li>
        </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accessories</a>
      <ul class="dropdown-menu">
        <li><a href="#">Womens</a></li>
        <li><a href="#">Mens</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sale</a>
      <ul class="dropdown-menu">
        <li><a href="#">Womens</a></li>
        <li><a href="#">Mens</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="navbar navbar-default navbar-fixed-top" style="text-align: center;">
  {{!-- Menu --}}
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body" style="float: left; margin-left: 15px; margin-right: 0px;">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>
  {{!-- Store Locator --}}
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body" style="float: left; margin-left: 15px; margin-right: 0px;">
    <span class="glyphicon glyphicon-map-marker"></span>
  </button>
  <a href="" style="font-size: 20px; display: inline-block;">Brand</a>

  {{!-- Cart --}}
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="glyphicon glyphicon-shopping-cart"></span>
  </button>

  {{!-- Search --}}
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</div>