<div class="product">
  <div class="product-image">
    <img src="http://placehold.it/80x80" alt="Image of the product">
  </div>
  <div class="product-description">
    <strong>Product Name</strong><br/>
    Color<br/>
    Size Quantity<br/>
    Price<br/>
  </div>
</div>