---
title: "Static Site Template - Projects Directory"
---
<div class="container">
	<div class="col-xs-12">
		<h1>Static Site Template - Tan Vo</h1>
		<h2>Projects Directory</h2>
		<p>Projects will be added here</p>
	</div>
</div>